{% extends 'base/base.html' %}

{% load static %}

{% block title %}Password reset confirmation{% endblock %}

{% block content %}

{% if validlink %}
    <header>
        <nav class="navbar navbarCustom">
            <div class="contenedor-img">
                <img src="{% static 'base/img/logoitbankoficial.svg' %}" alt="logo"/>
            </div>
            <div class="contenedor-botones-nav">
                <a href="{% url 'preHomebanking' %}">Volver</a>
            </div>
        </nav>
    </header>
    <h2 class="text-center">Por favor ingrese su nueva contraseña</h2>
    <form action="" method="post" class="pass-reset-confirm">
        <div style="display: none;">
            <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken">
        </div>
        <div class="container-change-pass">
            <div>
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Nueva contraseña:</label>
                {{ form.new_password1 }}
            </div>
            <div>
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirmar contraseña:</label>
                {{ form.new_password2 }}
            </div>
            <div>
                <input type="submit" value="Confirmar" class="btn btn-primary">
            </div>
        </div>
        {% comment %} <table>
            <tr>
                <td>{{ form.new_password1.errors }}<label for="id_new_password1">Nueva contraseña:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirme contraseña:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Cambiar contraseña"></td>
            </tr>
        </table> {% endcomment %}
    </form>
{% else %}
    <h3>Fallo en el reinicio de la contraseña</h3>
    <p>El enlace de reinicio de contraseña no es válido o ha caducado. Por favor solicite un nuevo reinicio de contraseña.</p>
{% endif %}

{% endblock %}