{% extends 'base/base.html' %}

{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %} 
    <header>
        <nav class="navbar navbarCustom">
            <div class="contenedor-img">
                <img src="{% static 'base/img/logoitbankoficial.svg' %}" alt="logo"/>
            </div>
            <div class="contenedor-botones-nav">
                <a href="{% url 'preHomebanking' %}">Volver</a>
            </div>
        </nav>
    </header>
    <div class="w-100">
        <form action="" method="post" class="pass-reset-form">{% csrf_token %} 
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <h2>Ingresa el mail con el que te registraste</h2> 
            <div>{{ form.email }}</div> 
            <input type="submit" class="btn btn-primary" value="Reiniciar"> 
        </form> 
    </div>
{% endblock %}