@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* GENERAL */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif !important;
}

img {
	width: 100%;
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

.navHb {
	border-bottom: 4px solid;
	border-color: #0f0e80;
}

.contenedor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tituloHb {
	font-size: 45px;
	margin: 0;
}

.logo {
	margin-left: 0.5rem;
	width: 7rem;
}

.btn {
	width: 7rem;
	padding: 0;
	margin-right: 0.5rem;
	border: 2px solid;
	border-radius: 15px;
	background-color: #0f0e80;
}

.btn p {
	font-size: 25px;
	margin: 0;
}

.btn:hover {
	background-color: white;
	color: #0f0e80;
}

.offcanvas-header h1 {
	font-size: 36px;
	text-transform: uppercase;
}

.offcanvas-body h2 {
	color: dimgray;
	border-bottom: 3px solid;
	border-color: #5c73f2;
}

.offcanvas-body ul li {
	margin-bottom: 0.5rem;
}

.offcanvas-body ul li a {
	color: black;
	text-decoration: none;
	font-size: 18px;
}

.fa-times {
	font-size: 25px;
}

.btnPropio {
	margin-right: 1rem;
	border: 2px solid;
	background-color: #0f0e80;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	border-radius: 50%;
	color: white;
}

.btnPropio:hover {
	background-color: white;
	color: #0f0e80;
}

.mainHb__section1 {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.card-header {
	font-size: 30px;
	font-weight: 500;
	color: white;
	background-color: #100e80;
}

.card-footer {
	background-color: #100e80;
	font-weight: 500;
	font-size: 20px;
	color: white;
}

.card-footer a {
	color: white;
	text-decoration: none;
}

.menuRapido {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 2rem;
	margin-bottom: 3rem;
	padding: 0;
}

.menuRapido li {
	list-style: none;
}

.menuRapido li a {
	display: inline;
	background-color: #5c73f2;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	padding: 0.5rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.menuRapido li a:hover {
	color: black;
	background-color: white;
	-webkit-box-shadow: 8px 8px 6px 1px #b5bcc2;
	box-shadow: 8px 8px 6px 1px #b5bcc2;
}

.offcanvas-body .exit {
	border: 2px solid #0f0e80;
	border-radius: 10px;
}

.offcanvas-body .exit:hover {
	background-color: #0f0e80;
}

.offcanvas-body .exit a {
	color: #0f0e80;
	text-decoration: none;
}

.offcanvas-body .exit a:hover {
	color: white;
}

.botonCalcu {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 2.7rem;
	border: 2px solid;
	border-radius: 50%;
	background-color: #0f0e80;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.botonCalcu:hover {
	background-color: white;
	color: black;
}

.botonCalcu .fa-calculator {
	color: white;
	padding: 0.7rem;
	font-size: 25px;
}

.botonCalcu .fa-calculator:hover {
	color: black;
}

.modal-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #5c73f2;
}

.modal-header .sub-contenedorArriba {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	gap: 1rem;
}

.modal-header .sub-contenedorArriba .contenedorInput {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.modal-header .sub-contenedorArriba .contenedorInput .btnReset {
	color: white;
	background-color: red;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	font-size: 25px;
	border: none;
	border-radius: 10px;
	margin: 0;
}

.modal-header .sub-contenedorArriba .contenedorInput .btnReset:hover {
	color: red;
}

.modal-header .sub-contenedorArriba .contenedorBtn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.modal-header .sub-contenedorArriba .contenedorBtn .btnAñadir {
	color: white;
	background-color: #00b900;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	font-size: 25px;
	border: none;
	border-radius: 10px;
	margin: 0;
}

.modal-header .sub-contenedorArriba .contenedorBtn .btnAñadir:hover {
	color: #00b900;
}

.modal-body {
	padding: 0;
}

.modal-body .tablaHeader {
	font-size: 18px;
}

.modal-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #5c73f2;
	color: white;
}

.modal-footer .btnClose {
	font-size: 25px;
	color: white;
	border: none;
}

/*Configuracion para las paginas index, nosotros y ayuda*/
.imagen-nav img,
.imagen-footer img {
	width: 7rem;
}

.imagen-perfiles {
	width: 50px;
	height: 50px;
}

.boton-hb {
	color: #0f0e80;
	border-color: #0f0e80;
	color: white;
	height: 3rem;
}

.contenido-principal {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.card,
.card-body {
	background-color: white;
	border-color: #757575;
}

.h6 {
	color: black;
}

.h7 {
	color: #757575;
}

.fs-6 {
	color: #757575;
}

.fs-3 {
	color: #757575;
}

.texto-nom {
	color: #757575;
}

.texto-red {
	color: #757575;
}

.divisa-card {
	width: 100%;
	padding: 8px 0;
	height: 250px;
}

.contenedor-img-dolar {
	width: 2rem;
}

.variacion-negativa {
	color: #ea3b3b;
}

.variacion-positiva {
	color: #4ad84a;
}

/* -------Pre Homebanking estilos ------*/
.contenedor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cuenta-aviso > button > p {
	font-size: 16px;
}

.btn-cuenta {
	width: 6rem;
	padding: 0;
	border: 2px solid;
	border-radius: 15px;
	background-color: #304ef2;
}

.btn-cuenta:hover {
	color: #304ef2;
}

.titulo {
	font-size: 4rem;
	margin: 0;
}

.container-botones {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.ingreso-cuenta-hb > a > button {
	text-align: center;
	margin: 0;
	color: white;
	padding: 5px;
}

.btn-pre {
	width: 6rem;
	padding: 0;
	margin-right: 0.5rem;
	border: 2px solid;
	border-radius: 15px;
	background-color: #304ef2;
}

.btn-pre p {
	font-size: 30px;
	margin: 0;
}

.btn-pre:hover {
	background-color: white;
	color: #304ef2;
}

.offcanvas-header h1 {
	font-size: 36px;
	text-transform: uppercase;
}

.offcanvas-body h2 {
	color: dimgray;
	border-bottom: 3px solid;
	border-color: #5c73f2;
}

.offcanvas-body ul li {
	margin-bottom: 0.5rem;
}

.offcanvas-body ul li a {
	color: black;
	text-decoration: none;
	font-size: 18px;
}

.mx-col {
	margin-top: 50px;
	margin-bottom: 50px;
}

.mx-h2 {
	color: black;
	font-size: 30px;
}

.btn-dark {
	font-size: 25px;
	margin-top: 40px;
	width: auto;
	height: auto;
}

.mx-cont-baner {
	background: url("../img/Rectangle 25.svg") no-repeat center center;
	background-size: cover;
	height: 240px;
	width: auto;
}

.mx-primary-txt {
	color: white;
	font-size: 40px;
	padding-top: 50px;
	text-align: center;
	font-family: Arial;
}

.container-foto-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.contenedor-clientes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 40%;
	margin: auto;
	margin-top: -200px;
}

.contenedor-boton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	border: none;
}

.boton-cliente {
	width: 330px;
	background-color: #d9d9d9;
	color: #2a7fdf;
	border: none;
	padding: 10px;
}

.boton-cliente:hover {
	background-color: #2a7fdf;
	color: #fff;
}

.h2-cliente {
	margin-top: 80px;
	font-size: 30px;
}

/*SECCIONES LOGIN, FORGOT, SIGNUP*/
.title {
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #2f86b8;
}

.sub-title {
	margin: 1rem;
	margin-bottom: 0;
}

.form-signup > h3 {
	text-align: center;
}

.btn-registro {
	color: white;
}

/* HEADER */
.navbarCustom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0;
	background-color: white;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
		0px 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 100%;
}

.contenedor-img {
	width: 10rem;
	margin-left: 1rem;
}

.contenedor-botones-nav,
.boton-fin {
	margin-right: 1rem;
	background-color: #5c73f2;
	border: 2px solid #5c73f2;
	border-radius: 10px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.contenedor-botones-nav:hover,
.boton-fin:hover {
	background-color: #ffffff;
}

.contenedor-botones-nav a,
.boton-fin a {
	padding: 0.5rem;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 25px;
	font-weight: 500;
}

.contenedor-botones-nav a:hover,
.boton-fin a:hover {
	color: black;
}

/* WARNING */
.warningFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0;
}

.contenedor-warning {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
	width: 25rem;
	margin-top: 1rem;
	border: 2px solid black;
	border-radius: 10px;
	padding: 0.5rem;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
		0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
		inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.warning-texto {
	max-width: 35ch;
	font-size: 20px;
}

.warning-texto p {
	margin: 0;
}

.warning-icono {
	font-size: 50px;
	color: #2f86b8;
}

.link-consejos {
	color: #2f86b8;
	text-decoration: none;
}

/* FORMS LOGIN-REGISTER-FORGOT */
.section__formulario {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
	width: 40%;
}

.form-floating {
	width: 100%;
}

.form-keyboard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.form-keyboard p {
	margin: 0;
}

.form-keyboard i {
	margin: 0;
	line-height: 0;
}

.contenedor-botones-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.form-switch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.remember {
	font-weight: 500;
	font-size: 20px;
}

.newClient {
	background-color: #0f0e80;
	color: #ffffff;
	text-align: center;
	border: 2px solid #0f0e80;
	border-radius: 10px;
}

.newClient:hover {
	background-color: #ffffff;
}

.newClient a {
	font-weight: 500;
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 0.5rem;
	font-size: 20px;
	margin: 0;
}

.newClient a:hover {
	color: black;
}

.contenedor-recuperar-clave {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.contenedor-recuperar-clave a {
	color: #2a7fdf;
	text-decoration: none;
}

.contenedor-select {
	width: 100%;
}

.contenedor-check {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: no-wrap;
	flex-wrap: no-wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.form-check-label {
	font-size: 20px;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

.form-check {
	margin: 0;
	padding: 0;
}

#pasoUsuario {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#pasoClave {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.boton-corroborar {
	background-color: #5c73f2;
	color: white;
	padding: 0.5rem;
	font-size: 20px;
	border: 2px solid #5c73f2;
	border-radius: 10px;
}

/* CHANGE PASSWORD */

.pass-reset-form {
	width: 100%;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}

.pass-reset-form > h2 {
	text-align: center;

}

.pass-reset-form > div {
	text-align: center;
	width: 50%;
}

.pass-reset-form > div > input {
	width: 100%;
}

.pass-reset-confirm {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-change-pass {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}

.container-change-pass > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.container-change-pass > div > label {
	font-weight: bold;
}

/* Prestamos */

.form-prestamo {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}
.form-prestamo > div {
	text-align: center;
	width: 50%;
}
.form-prestamo > div > label {
	padding: 10px;
	font-weight: bold;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 425px) {
	.form {
		width: 90%;
	}

	.contenedor-warning {
		width: 90%;
	}

	.contenedor-warning p {
		font-size: 18px;
		text-align: center;
	}

	.contenedor-img {
		width: 8rem;
	}

	.remember {
		font-size: 16px;
	}

	.inputHeight {
		height: 4rem !important;
	}

	.titulo {
		font-size: 27px;
	}

	.btn {
		width: 5.9rem;
	}

	.btn p {
		font-size: 20px;
	}

	.logo {
		width: 5rem;
	}

	.mainHb__section1 {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		row-gap: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.menuRapido {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.chat {
		width: 50vw;
	}

	.container-foto-texto {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.mx-h2 {
		font-size: 29px;
		text-align: center;
	}

	.contenedor-clientes {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 0;
		padding: 0;
		width: 100%;
	}

	.contenedor-boton {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: auto;
	}

	.boton-cliente {
		width: 200px;
	}

	.h2-clientes {
		font-size: 15px;
	}

	.mx-cont-baner {
		height: 260px;
	}

	.calculadora {
		width: 90%;
		width: 90%;
		height: 550px;
		right: 15px;
		bottom: 75px;
	}

	.medio {
		overflow-x: scroll;
	}

	.tablaHeader {
		font-size: 16px;
	}

	.btnReset {
		width: 150px;
	}

	.btnAñadir {
		width: 150px;
	}

	.tablaHeader {
		font-size: 16px;
		vertical-align: middle;
	}

	.modal-footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
	.form {
		width: 25rem;
	}

	.contenedor-img {
		width: 8rem;
	}

	.remember {
		font-size: 18px;
	}

	.titulo {
		font-size: 30px;
	}

	.btn {
		width: 6rem;
	}

	.btn p {
		font-size: 20px;
	}

	.logo {
		width: 5rem;
	}

	.mainHb__section1 {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		row-gap: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.chat {
		width: 50vw;
	}

	.container-foto-texto {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.mx-h2 {
		font-size: 29px;
		text-align: center;
	}

	.contenedor-clientes {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 0;
		padding: 0;
		width: 100%;
	}

	.contenedor-boton {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: auto;
	}

	.boton-cliente {
		width: 200px;
	}

	.h2-clientes {
		font-size: 15px;
	}

	.mx-cont-baner {
		height: 260px;
	}

	.btnReset {
		width: 150px;
	}

	.btnAñadir {
		width: 150px;
	}

	.sub-contenedorArriba {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.form {
		width: 28rem;
	}
}

/*# sourceMappingURL=main.css.map */