@mixin flex ($flexDirection, $flexWrap, $justifyContent, $alignItems, $gap) {
    display: flex;
    flex-direction: $flexDirection;
    flex-wrap: $flexWrap;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
}

@mixin icono ($fontSize, $color) {
    font-size: $fontSize;
    color: $color;
}

@mixin grid ($cantColumnas, $medidaColumnas, $cantFilas, $medidaFilas, $rowGap, $columnGap) {
    display: grid;
    grid-template-columns: repeat($cantColumnas, $medidaColumnas);
    grid-template-rows: repeat($cantFilas, $medidaFilas);
    row-gap: $rowGap;
    column-gap: $columnGap;
}



