@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

@import "variables";
@import "function";
@import "homebanking";



/*Configuracion para las paginas index, nosotros y ayuda*/
.imagen-nav, .imagen-footer{
    img{
        width: 7rem;
    }
}
.imagen-perfiles{
    width: 50px;
    height: 50px;
}
.boton-hb{
    color: map-get($paleta, azulOscuro);
    border-color: map-get($paleta, azulOscuro);
    color: white;
    height: 3rem;
}
.contenido-principal {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.card, .card-body{
    background-color: white;
    border-color: map-get($paleta, gris);
}
.h6 {
    color: black;
}
.h7{
    color: map-get($paleta, gris);
}
.fs-6 {
    color: map-get($paleta, gris);
}
.fs-3 {
    color: map-get($paleta, gris);
}
.texto-nom{
    color: map-get($paleta, gris);
}
.texto-red{
    color: map-get($paleta, gris);
}

/* -------Pre Homebanking estilos ------*/
.contenedor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-size: 4rem;
    margin: 0;
}

.btn-pre {
    width: 6rem;
    padding: 0;
    margin-right: 0.5rem;
    border: 2px solid;
    border-radius: 15px;
    background-color: #304EF2;
}
.btn-pre p {
    font-size: 30px;
    margin: 0;
}
.btn-pre:hover {
    background-color: white;
    color: #304EF2;
}

.offcanvas-header h1 {
    font-size: 36px;
    text-transform: uppercase;
}
.offcanvas-body h2 {
    color: rgb(105, 105, 105);
    border-bottom: 3px solid;
    border-color: #5C73F2;
}
.offcanvas-body ul li {
    margin-bottom: 0.5rem;
}
.offcanvas-body ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.mx-conf-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.mx-col {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mx-h2 {
    color: rgb(0, 0, 0);
    font-size: 70px;
    padding-top: 50px;
    font-family: 'Patrick Hand', cursive;
}

.btn-dark {
    font-size: 25px;
    margin-top: 40px;
    width: auto;
    height: auto;
}
.mx-cont-baner {
    background: url("../img/Rectangle 25.svg") no-repeat center center;
    background-size: cover;
    height: 240px;
    width: auto;
}
.mx-primary-txt {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
    font-family: Arial;
}
.container-foto-texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor-clientes {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 40%;
    margin: auto;
    margin-top: -200px;
}
.contenedor-boton {
    display: flex;
    justify-content: flex-end;
    border: none;
}
.boton-cliente{
    width: 330px;
    background-color: #D9D9D9;
    color: #2A7FDF;
    border: none;
    padding: 10px;
}
.boton-cliente:hover {
    background-color: #2A7FDF;
    color: #fff;
}
.h2-cliente {
    margin-top: 80px;
    font-size: 30px;
}

/*SECCIONES LOGIN FORGOT, REGISTER*/
.title{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: map-get($paleta, celeste);
}
.sub-title{
    margin: 1rem;
    margin-bottom: 0;
}

/* HEADER */
.navbarCustom{
    @include flex (row, no-wrap, space-between, center, 0);
    background-color: white;
    box-shadow: $boxShadowNav;
    width: 100%
}
.contenedor-img{
    width: 10rem;
    margin-left: 1rem;
}
.contenedor-botones-nav{
    margin-right: 1rem;
    background-color: map-get($paleta, azulClaro);
    border: 2px solid map-get($paleta, azulClaro);
    border-radius: 10px;
    width: fit-content;
    &:hover{
        background-color: map-get($paleta, blanco);
    }
    a{
        padding: 0.5rem;
        text-align: center;
        color: map-get($paleta, blanco);
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        &:hover{
            color: black;
        }
    }
}


/* WARNING */
.warningFlex{
    @include flex(row, no-wrap, center, center, 0)
}
.contenedor-warning {
    @include flex(row, no-wrap, space-between, center, 1rem);
    width: 25rem;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: $boxShadowWarning;
}
.warning-texto {
    max-width: 35ch;
    font-size: 20px;
    p{
        margin: 0;
    }
}
.warning-icono {
    @include icono (50px, map-get($paleta, celeste));
}
.link-consejos {
    color: map-get($paleta, celeste);
    text-decoration: none
}


/* FORMS LOGIN-REGISTER-FORGOT */
.section__formulario{
    @include flex(column, no-wrap,center, center, 1rem);
}
.form{
    @include flex(column, no-wrap, center, center, 1rem);
    margin-top: 1rem;   
    width: 40%;
}
.form-floating{
    width: 100%;
}
.form-keyboard {
    @include flex(row, no-wrap, center, center, 1rem);
    p{
        margin: 0;
    }
    i{
        margin: 0;
        line-height: 0;
    }
}
.contenedor-botones-form{
    @include flex(row, no-wrap, space-between, center, 1rem);
}
.boton-fin{
    @extend .contenedor-botones-nav;
}
.form-switch{
    @include flex(row, no-wrap, center, center, 1rem);
}
.remember{
    font-weight: 500;
    font-size: 20px;
}
.newClient{
    background-color: map-get($paleta, azulOscuro);
    color: map-get($paleta, blanco);
    text-align: center;
    border: 2px solid map-get($paleta, azulOscuro);;
    border-radius: 10px;
    &:hover{
        background-color: map-get($paleta, blanco);
    }
    a{
        font-weight: 500;
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        font-size: 20px;
        margin: 0;
        &:hover{
            color: black;
        }
    }
}
.contenedor-recuperar-clave{
    font-size: 20px;
    margin: 0;
    padding: 0;
    a{
        color: #2A7FDF;
        text-decoration: none;
    }
}
.contenedor-select{
    width: 100%;
}
.contenedor-check{
    @include flex(column, no-wrap, center, center, 1rem);
}
.form-check-label{
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.form-check{
    margin: 0;
    padding: 0;
}

#pasoUsuario{
    display: none;
    flex-direction: column;
}
#pasoClave{
    display: none;
    flex-direction: column;
}
.boton-corroborar{
    background-color: map-get($paleta, azulClaro);
    color: white;
    padding: 0.5rem;
    font-size: 20px;
    border: 2px solid map-get($paleta, azulClaro);
    border-radius: 10px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .form{
        width: 90%;
    }
    .contenedor-warning{
        width: 90%;
        p{
            font-size: 18px;
            text-align: center;
        }
    }
    .contenedor-img{
        width: 8rem;
    }
    .remember{
        font-size: 16px;
    }
    .inputHeight{
        height: 4rem !important;
    }

    .titulo{
        font-size: 27px;
    }
    .btn{
        width: 5.9rem;
        p{
            font-size: 20px;
        }
    }
    .logo{
        width: 5rem;
    }

    .mainHb__section1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .menuRapido{
        flex-direction: column;
    }
    .chat{
        width: 50vw;
    }

    .container-foto-texto {
        display: flex;
        flex-direction: column;
    }
    .mx-h2 {
        font-size: 29px;
        text-align: center;
    }

    .contenedor-clientes {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        width: 100%;
    }
    .contenedor-boton {
        display: flex;
        margin: auto;
        
    }
    .boton-cliente {
        width: 200px;
    }

    .h2-clientes {
        font-size: 15px;
    }

    .mx-cont-baner {
        height: 260px;
    }

    .calculadora{
        width: 90%;
        width: 90%;
        height: 550px;
        right: 15px;
        bottom: 75px;
    }
    .medio{
        overflow-x: scroll;
    }
    .tablaHeader{
        font-size: 16px;
    }

    .btnReset{
        width: 150px;
    }
    .btnAñadir{
        width: 150px;
    }
    .tablaHeader{
        font-size: 16px;
        vertical-align: middle;
    }
    .modal-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 425px) and (max-width: 768px){
    .form{
        width: 25rem;
    }
    .contenedor-img{
        width: 8rem;
    }
    .remember{
        font-size: 18px;
    }

    .titulo{
        font-size: 30px;
    }
    .btn{
        width: 6rem;
        p{
            font-size: 20px;
        }
    }
    .logo{
        width: 5rem;
    }

    .mainHb__section1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .chat{
        width: 50vw;
    }
    .container-foto-texto {
        display: flex;
        flex-direction: column;
    }
    .mx-h2 {
        font-size: 29px;
        text-align: center;
    }

    .contenedor-clientes {
        display: flex;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        width: 100%;
    }
    .contenedor-boton {
        display: flex;
        margin: auto;
        
    }
    .boton-cliente {
        width: 200px;
    }

    .h2-clientes {
        font-size: 15px;
    }

    .mx-cont-baner {
        height: 260px;
    }

    .btnReset{
        width: 150px;
    }
    .btnAñadir{
        width: 150px;
    }
    .sub-contenedorArriba{
        align-items: center;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .form{
        width: 28rem;
    }
}