@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import "variables";
@import "function";

/*Reseteo general de paddings, margenes y imagenes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}


/*Configuracion para las paginas index, nosotros y ayuda*/
.imagen-nav, .imagen-footer{
    img{
        width: 7rem;
    }
}

.imagen-perfiles{
    width: 50px;
    height: 50px;
}

.boton-hb{
    color: map-get($paleta, azulOscuro);
    border-color: map-get($paleta, azulOscuro);
    a{
        text-decoration: none;
        color: black;
    }
}

.contenido-principal {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.card, .card-body{
    background-color: white;
    border-color: map-get($paleta, gris);
}

.h6 {
    color: black;
}

.h7{
    color: map-get($paleta, gris);
}

.fs-6 {
    color: map-get($paleta, gris);
}

.fs-3 {
    color: map-get($paleta, gris);
}

.texto-nom{
    color: map-get($paleta, gris);
}

.texto-red{
    color: map-get($paleta, gris);
}


/*Configuracion chat de la pagina Ayuda para dispositivos pequeños*/
@media screen and (min-width: 540px){
    .chat{
        width: 50vw;
    }
}

